{% extends "MobilityMainBundle:Admin:layout.html.twig" %}

{% block content %}
<div class="well">
    <div class="list-group">
        <a class="list-group-item " href="{{ path('user_list') }}">Gestion des utilisateurs</a>
        <a class="list-group-item " href="{{ path('overview') }}">Tableau de bord</a>
    </div>
        
    <div class="list-group">
        <a class="list-group-item" href="{{ path('university_list') }}">Gestion des universités</a>
        <a class="list-group-item" href="{{ path('student_list') }}">Gestion des étudiants</a>
        <a class="list-group-item" href="{{ path('wish_list') }}">Gestion des voeux</a>
    </div>
</div>
{% endblock %}
