<div>
	<h3>{{ year }}</h3>

	<p>
	    <strong>Étudiants :</strong> 
	    <a href="{{ path('student_addlist', {'year': year}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter des étudiants</a>
	    <a href="{{ path('student_edit_ranking', {'year': year}) }}" class="btn btn-success"><span class="glyphicon glyphicon-wrench"></span> Éditer le classement</a>
	    <a href="{{ path('wish_list_year', {'year': year}) }}" class="btn btn-primary">Gérer les voeux</a>
	</p>

	<p>
		<strong>Affectations :</strong> 
	    <a href="{{ path('placement_list_year', {'year': year}) }}" class="btn btn-primary">Gérer les affectatons</a>
	    {% if placements_public %}
	    	<a href="{{ path('placements_setprivate', {'year': year}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span> Rendre les affectations privées</a>
		{% else %}
			<a href="{{ path('placements_setpublic', {'year': year}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span> Rendre les affectations publiques</a>
		{% endif %}
	</p>
</div>