{% extends "MobilityStudentBundle::layout.html.twig" %}

{% block page_title %}<a href="{{ path('main_admin') }}">Administration</a> - Gestion des voeux{% endblock %}

{% block content_body %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-mail</th>
            <th>Promo</th>
            <th colspan="1">Choix</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <tbody>
        {% for s in students %}
        <tr>
            <td>{{ s.surname|title }}</td>
            <td>{{ s.firstname|title }}</td>
            <td><a href="mailto:{{ s.email }}">{{ s.email }}</a></td>
            <td>{{ s.promo }}</td>
            
            <td>
                <a href="" title="Modifer" style="margin: 0 5px;"><span class="glyphicon glyphicon-wrench" style="color: #939090;"></span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}