{% trans_default_domain 'FOSUserBundle' %}

<form class="mobility-form" method="post" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }}>
    {% form_theme form ':Form:form_errors.html.twig' %}
    
    {{ form_errors(form) }}
    
    {{ form_errors(form.current_password) }}
    <p>
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password) }}
    </p>
    
    {{ form_errors(form.plainPassword.first) }}
    <p>
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </p>
    
    {{ form_errors(form.plainPassword.second) }}
    <p>
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </p>
    
    {{ form_rest(form) }}
    
    <input class="btn btn-primary push" type="submit" value="{{ 'registration.submit'|trans }}" />
</form>